@font-face {
    font-family: 'SFProDisplay-Regular';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/SFProDisplay-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'SFProDisplay-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/SFProDisplay-Bold.ttf') format('ttf');
}
