body {
    font-family: 'SFProDisplay-Regular', sans-serif;
    background: #F2F2F2 0 0 no-repeat padding-box;
    opacity: 1;
    font-size: 16px;
    display: grid;
    grid-template-columns: 10% 85%;
    grid-template-rows: 1fr;
}

nav {
}

nav > ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

nav > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3.5rem;
    cursor: pointer;
}

nav > ul > li > img {
    height: 1.5rem;
}

main {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 20px #00000029;
    opacity: 1;
    border-radius: 1rem;
    padding: 2rem;
    position: relative;
}

main > header {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main > header > .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main > header > .search > .search__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2 0 0 no-repeat padding-box;
    border-radius: .5rem;
    opacity: 1;
    padding: .5rem 1rem;
}

main > header > .search > .search__input > input {
    background: #F2F2F2 0 0 no-repeat padding-box;
    border-radius: .5rem;
    opacity: 1;
    outline: none;
    box-shadow: none;
    border: none;
    height: 1.875rem;
    min-width: 25rem;
}

main > header > .search > .search__input > input::placeholder {
    color: #B0B0B0;
    font-size: 0.875rem;
}


main > header > .search > .search__input > img {
    height: 1rem;
}

main > header > .search > .search__btn {
    height: 2.875rem;
    border-radius: .5rem;
    color: white;
    background-color: #0D87E3;
    border: none;
    outline: none;
    margin-left: 1rem;
    font-size: 0.875rem;
    cursor: pointer;
    padding: 1rem;
}

main > header > .info-container {
    flex: 1;
}

main > header > .info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 1;
}

main > header > .info > .info__notification {
    margin-right: 1rem;
    position: relative;
}

main > header > .info > .info__notification > .alert {
    position: absolute;
    top: 0;
    right: 0;
    height: .75rem;
    width: .75rem;
    border-radius: 50%;
    background-color: #FF2C00;
}

main > header > .info > h3 {
    margin-right: 1rem;
    color: #4A4A4A;
}

main > header > .info > img {
    width: 2.875rem;
    height: 2.875rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.tab {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tab > .tab__subtitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 1rem;
}

.tab > .tab__subtitle > p {
    color: #4A4A4A;
}

.tab > .tab__subtitle > p.text {
    margin-left: .5rem;
}

.tab > .tab__subtitle > p {
    font-size: 1.125rem;
}

.tab > .tab__subtitle > img {
    margin-left: .25rem;
    height: .25rem;
}

.tab > .tab__items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tab > .tab__items > .tab__item--active {
    color: #4A4A4A;
    background: #F2F2F2 0 0 no-repeat padding-box;
}

.tab > .tab__items > .tab__item, .tab__item--active {
    border-radius: 10px 10px 0 0;
    opacity: 1;
    padding: 0.25rem 2rem;
    cursor: pointer;
}

.tab > .tab__items > .tab__item {
    color: #B0B0B0;
}

.tab > .tab__content {
    background: #F2F2F2 0 0 no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    padding: 1rem;
    width: 100%;
}

.tab > .tab__content > .tab__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: .5rem 1rem 1rem;
}

.tab > .tab__content > .tab__header > h3 {
    color: #4D4D4D;
    margin: 0;
}

.tab > .tab__content > .tab__header > .tab__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tab__header > .tab__options > .select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border-radius: .3125rem;
    opacity: 1;
    padding: .75rem;
    min-width: 6rem;
    margin-right: 2rem;
}

.tab__header > .tab__options > .select > img {
    height: .4rem;
    cursor: pointer;
}

.tab__header > .tab__options > img {
    margin-right: 1rem;
    cursor: pointer;
}

.tab__header > .tab__options > .select > p {
    color: #4D4D4D;
    font-size: .80rem;
    margin: 0;
}

.tab__body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

.tab__body > .list-item {
    width: 13rem;
    height: 20rem;
    position: relative;
    margin: 1rem;
    border-radius: 1rem;
}

.tab__body > .list-item > .icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    height: 3rem;
}

.tab__body > .list-item > .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.tab__body > .list-item > .options {
    position: absolute;
    z-index: 10;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.tab__body > .list-item > .options > .options__img {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 1rem;
    cursor: pointer;
}

.tab__body > .list-item > .options > .options__menu {
    position: absolute;
    z-index: 100;
    top: 1.5rem;
    left: -8rem;
    cursor: pointer;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border-radius: 8px;
    min-width: 12rem;
}

.tab__body > .list-item > .options > .options__menu > ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin: 0;
}

.tab__body > .list-item > .options > .options__menu > ul > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 1rem;
    border-radius: 8px;
}

.tab__body > .list-item > .options > .options__menu > ul > li:hover {
    background-color: #F2F2F2;
}

.tab__body > .list-item > .options > .options__menu > ul > li > img {
    height: 1rem;
    margin-right: 1rem;
}

.tab__body > .list-item > .options > .options__menu > ul > li > p {
    color: #4D4D4D;
    font-size: .85rem;
}

.tab__body > .list-item > .list-item__footer {
    background: #FFFFFF 0 0 no-repeat padding-box;
    border-radius: 0 0 10px 10px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .5rem 1rem;
    color: #4D4D4D;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.tab__body > .list-item > .list-item__footer > .list-item__footer-left > p {
    margin: .25rem 0;
    font-size: .75rem;
}

.tab__body > .list-item > .list-item__footer > .list-item__footer-left > small {
    font-size: .65rem;
}

.tab__body > .list-item > .list-item__footer > .list-item__footer-left {
}

.tab__body > .list-item > .list-item__footer > .list-item__footer-right > img {
    height: 1.25rem;
}

.table {
    width: calc(100% - 2rem);
    padding: 0 1rem;
}

.table > .table-header {
    display: grid;
    grid-template-columns: 40% repeat(3, 20%);
    grid-template-rows: 1fr;
    margin-bottom: 1.5rem;
}

.table > .table-header > .table-header__col {
    color: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.table > .table-header > .table-header__col > button {
    height: 2.875rem;
    border-radius: .25rem;
    color: white;
    background-color: #0D87E3;
    border: none;
    outline: none;
    margin-right: 1rem;
    cursor: pointer;
    padding: 0 1rem;
}

.table > .table-header > .table-header__col > button > img {
    height: 1rem;
}

.table > .table-item {
    display: grid;
    grid-template-columns: 40% repeat(3, 20%);
    grid-template-rows: 1fr;
    border-radius: .25rem;
    background: #FFFFFF 0 0 no-repeat padding-box;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.table > .table-item > .table-item__col {
    color: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.table > .table-item > .table-item__col > p {
    font-size: 1.125rem;
}

.table > .table-item > .table-item__col > img.img {
    height: 5rem;
    width: 3.5rem;
    object-fit: cover;
    border-radius: .5rem;
    margin-right: 1rem;
}

.table > .table-item > .table-item__col > div {
    margin-right: 2rem;
}

.table > .table-item > .table-item__col > div > h3 {
    margin: .25rem 0;
}

.table > .table-item > .table-item__col > img.icon {
    height: 1rem;
}

.table > .table-item > .table-item__col > .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.table > .table-item > .table-item__col > .options > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table > .table-item > .table-item__col > .options > div > .option {
    margin-right: 1.5rem;
    cursor: pointer;
}

.table > .table-item > .table-item__col > .options > div > .dropdown {
    height: .75rem;
    cursor: pointer;
}

/*Global styles*/
.letter-icon {
    font-size: 1.125rem;
    margin: 0;
}

.letter-icon > span {
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    line-height: 2.5rem;
    text-align: center;
    width: 2.5rem;
}

.letter-icon > span.orange {
    background-color: #FF6F00;
}

.letter-icon > span.yellow {
    background-color: #FFCC00;
}

.letter-icon > span.green {
    background-color: #5CE30D;
}

.letter-icon > span.cyan {
    background-color: #0DE3C0;
}

.letter-icon > span.blue {
    background-color: #0D87E3;
}

.bg-cyan {
    background-color: #0D87E3;
}

.arrow,
.arrow::before {
    position: absolute;
    width: 1rem;
    height: 1rem;
}

.arrow.arrow-xl {
    width: 2rem;
    height: 2rem;
}

.arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #FFFFFF 0 0 no-repeat padding-box;
}

.arrow.top {
    top: -.5rem;
    left: 6rem;
}

.arrow.left {
    left: -.5rem;
    top: 13rem;
}
